<table >
    <tbody class="maintable">
   
    <tr>
        <td>
            <ul id="quicklinks">
                	<li><a href="http://facebook.com/">Facebook</a></li>|
                   	<li><a href="http://twitter.com/">Twitter</a></li>|
                    <li><a href="http://example.com">Website</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
        	<h1>Lorem Ipsum Newsletter</h1>
        </th>
    </tr>

    <tr>
        <td class="issue">
            <h1 id="title">Exciting Events This Week! </h1>
            <p id="issue">Mar 5th, 2013</p>
        </td>
    </tr>

    <td id="contentrow">
    </td>

    </tbody>
    
    <tfoot>
        <tr>
            <td>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at faucibus risus. Aenean accumsan sodales malesuada. Donec auctor nulla in magna ultricies eleifend. Suspendisse sodales hendrerit massa ut posuere. Nullam ut nibh ante. Donec aliquam mattis elit at sollicitudin. Vestibulum aliquet, est quis varius euismod, dui neque bibendum tellus, sed tempor nisl nibh id neque. 
                </p>
                <p>
                    To unsubscribe from this newsletter, click on this <a href="#">link</a>.
                </p>
                
                <p><strong>
                   Having trouble viewing this newsletter? View it on a browser <a href="#">here</a>.</strong>
                </p>
            </td>
        </tr>
    </tfoot>

</table>
