<table >
    <tbody class="maintable">
   
    <tr>
        <td>
            <ul id="quicklinks">
                	<li><a href="http://facebook.com/">Facebook</a>|</li>
                   	<li><a href="http://twitter.com/">Twitter</a>|</li>
                    <li><a href="http://example.com">Website</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
        	<h1>Lorem Ipsum Newsletter</h1>
        </th>
    </tr>

    <tr>
        <td class="issue">
            <h1 id="title">Exciting Events This Week! </h1>
            <p id="issue">Mar 5th, 2013</p>
        </td>
    </tr>

    <tr id="contentrow">
    </tr>

    </tbody>
    
    <tfoot>
        <tr>
            <td>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at faucibus risus. Aenean accumsan sodales malesuada. Donec auctor nulla in magna ultricies eleifend. Suspendisse sodales hendrerit massa ut posuere. Nullam ut nibh ante. Donec aliquam mattis elit at sollicitudin. Vestibulum aliquet, est quis varius euismod, dui neque bibendum tellus, sed tempor nisl nibh id neque. 
                </p>
                <p>
                    To unsubscribe from this newsletter, click on this <a href="#">link</a>.
                </p>
                
                <p><strong>
                   Having trouble viewing this newsletter? View it on a browser <a href="#">here</a>.</strong>
                </p>
            </td>
        </tr>
    </tfoot>

</table>


<!--
    <tr >
        <table class="content">
        <tr>
            <td>
                <table>
                <tr>
                    <td>

                        <h2>Lorem Ipsum Dolor </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum metus sed nulla ornare ut fermentum arcu facilisis. Cras sit amet eleifend elit. Duis non massa erat. Vivamus condimentum egestas ligula at <a href="http://facebook.com">malesuada. </a> 
                            <table class="dates">
                            <tr><td>Date</td> <td>March 14, 2013</td></tr>
                            <tr><td>Venue</td> <td>3118 SAC, E Campus Mall</td></tr>
                            <tr><td>Time</td> <td>7pm - 9pm</td></tr></table>

                        </p>
                    </td>

                    </td>
                    <td><img src="http://guts.wisc.edu/images/tile_index/am_main.jpg"/>
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <td>
                <table>
                <h2>Vestibulum Tempus</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum metus sed nulla ornare ut fermentum arcu facilisis. Cras sit amet eleifend elit. Duis non massa erat. Vivamus condimentum egestas ligula at malesuada.
                </p>
                <p> Vestibulum tempus, arcu in bibendum tempor, ligula mauris gravida ligula, sit amet dignissim dolor mauris sit amet urna. Praesent nec urna convallis metus venenatis cursus eu ullamcorper est. Integer tincidunt, ipsum ut porttitor cursus, neque neque convallis nulla, at bibendum mi nisl ut arcu.

                </p>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <h2>Praesent Nec Urna</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum metus sed nulla ornare ut fermentum arcu facilisis. Cras sit amet eleifend elit. Duis non massa erat. Vivamus condimentum egestas ligula at malesuada. Vestibulum tempus, arcu in bibendum tempor, ligula mauris gravida ligula, sit amet dignissim dolor mauris sit amet urna. Praesent nec urna convallis metus venenatis cursus eu ullamcorper est. Integer tincidunt, ipsum ut porttitor cursus, neque neque convallis nulla, at bibendum mi nisl ut arcu.

                </p>
            </td>
            </tr>
    </tr>
-->