body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #4b4b55;
  background-color: #ddddcc;
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

table {
  width: 100%; }
  table > tbody.maintable > tr {
    width: 600px; }
  table > tbody.maintable .header {
    height: 120px; }
  table.content {
    border-collapse: separate;
    border-spacing: 20px; }
    table.content > tbody > tr {
      width: 560px;
      background-color: #eeeedd; }
      table.content > tbody > tr > td:first-child {
        padding: 20px;
        border-left: 4px solid #f68c22; }
    table.content img {
      padding-left: 12px; }
  table.dates {
    border-spacing: 4px; }
    table.dates tr td:first-child {
      font-weight: bold;
      text-align: right; }
  table tfoot {
    font-size: 12px;
    color: #888888; }

h1, h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  color: #4b4b55; }

p {
  padding: 0;
  margin: 0;
  margin-bottom: 8px; }

a {
  color: #f68c22; }
  a:hover {
    color: #eeeedd;
    background-color: #f68c22; }
