body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #4b4b55;
  background: url(http://guts.wisc.edu/newsletter/guts-ce-newsletter_template/imgs/ce_newsletter.png);
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

table {
  background-color: #eeeeee;
  width: 100%; }
  table > tbody.maintable > tr {
    width: 600px; }
    table > tbody.maintable > tr > td {
      padding: 0 20px; }
  table > tbody.maintable .header {
    height: 120px; }
  table.content {
    border-collapse: separate;
    border-spacing: 20px; }
    table.content > tbody > tr {
      width: 560px;
      background-color: #eeeeee; }
      table.content > tbody > tr > td:first-child {
        padding: 0 20px;
        border-left: 4px solid #f68c22; }
    table.content img {
      padding-left: 12px; }
  table.dates {
    border-spacing: 4px; }
    table.dates tr td:first-child {
      font-weight: bold;
      text-align: right; }
  table tfoot {
    font-size: 12px;
    color: #888888; }
  table th {
    border-bottom: 1px #aaaaaa solid;
    text-align: center; }

h1, h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  color: #555555; }

h1 {
  margin-top: 24px;
  color: #666666; }

p {
  padding: 0;
  margin: 0;
  margin-bottom: 8px; }

a {
  color: #f68c22; }
  a:hover {
    color: #eeeedd;
    background-color: #f68c22; }

ul#quicklinks {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: right; }
  ul#quicklinks li {
    padding-left: 20px;
    display: inline; }
